<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortener!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener!
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>Use the following api to return an object containing a shortened version of the url you provided:</p>
      
      <a href="https://url-short-db.glitch.me/api/https://example.com">https://url-short-db.glitch.me/api/https://example.com</a>

      <p>Or click the button and generate it right here!</p>
      
      <input id="userUrl" placeholder="https://example.com">
      <input type="button" id="fetch" value="Generate!">
      <div id="results">
        
      </div>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
